name: Дарт

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Установите зависимости
        run: dart pub get

      - name: Анализ исходного кода проекта
        run: dart analyze

      - name: Запустите тесты
        run: dart test

